<button mat-button [matMenuTriggerFor]="langMenu" class="lang-trigger">
  <span class="flag-icon flag-icon-{{currentFlag}} flag"></span>
  {{ lang.toUpperCase() }}
</button>

<mat-menu #langMenu="matMenu" class="lang-menu">
  <div class="lang-panel">
    <mat-nav-list class="lang-scroll">
      <a mat-list-item *ngFor="let l of langs" (click)="switchLang(l.code)">
        <span class="flag-icon flag-icon-{{l.flag}} flag"></span>
        <span class="name">{{ l.name }}</span>
      </a>
    </mat-nav-list>
  </div>
</mat-menu>
