<div class="dialog-backdrop" (click)="close.emit()" tabindex="0">
  <div class="dialog-content" (click)="$event.stopPropagation()">
    <h2>{{ "SELECT_ANIMAL" | translate }}</h2>
    <div class="animal-grid">
      @for (animal of list; track animal.name) {
      <div
        class="animal-item pointer"
        [class.selected]="animal.name === selectedAnimal"
        (click)="selectAnimal(animal)"
      >
        <img [src]="animal.image" [alt]="animal.name" />
        <div class="animal-name">
          {{ "ANIMALS." + tabId + "." + animal.name | translate }}
        </div>
      </div>
      }
    </div>
    <button (click)="close.emit()" class="close-btn pointer">
      {{ "CLOSE" | translate }}
    </button>
  </div>
</div>
